
.studenti {
  .studente {
    border-radius: 12px;
    width: 45%;
    height: auto;
    background: $booleanBlue;
    img {
      width: 80px;
      height: 80px;
    }
    .description {
      a {
        color: lighten($booleanBlue, 15%);
      }
      p{
        color: white;
      }
    }

  }
  &.singolo {
    .studente {
      border-radius: 12px;
      h1 {
        color: white;
      }
      img {
        width: auto;
        height: auto;
        max-width: 90%;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .studenti {
    .studente {
      width: 100%;
      flex-direction: column;
      .description {
        margin-top: $xlFontSize;
        text-align: center;
      }
    }
  }
}
